@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand-Bold.eot');
    src: url('Quicksand-Bold.eot?#iefix') format('embedded-opentype'),
        url('Quicksand-Bold.woff2') format('woff2'),
        url('Quicksand-Bold.woff') format('woff'),
        url('Quicksand-Bold.ttf') format('truetype'),
        url('Quicksand-Bold.svg#Quicksand-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand-Light.eot');
    src: url('Quicksand-Light.eot?#iefix') format('embedded-opentype'),
        url('Quicksand-Light.woff2') format('woff2'),
        url('Quicksand-Light.woff') format('woff'),
        url('Quicksand-Light.ttf') format('truetype'),
        url('Quicksand-Light.svg#Quicksand-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand-Regular.eot');
    src: url('Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
        url('Quicksand-Regular.woff2') format('woff2'),
        url('Quicksand-Regular.woff') format('woff'),
        url('Quicksand-Regular.ttf') format('truetype'),
        url('Quicksand-Regular.svg#Quicksand-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Thin.eot');
    src: url('Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Thin.woff2') format('woff2'),
        url('Roboto-Thin.woff') format('woff'),
        url('Roboto-Thin.ttf') format('truetype'),
        url('Roboto-Thin.svg#Roboto-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.eot');
    src: url('Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Medium.woff2') format('woff2'),
        url('Roboto-Medium.woff') format('woff'),
        url('Roboto-Medium.ttf') format('truetype'),
        url('Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Light.eot');
    src: url('Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('Lato-Light.woff2') format('woff2'),
        url('Lato-Light.woff') format('woff'),
        url('Lato-Light.ttf') format('truetype'),
        url('Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('NotoSans-Bold.eot');
    src: url('NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('NotoSans-Bold.woff2') format('woff2'),
        url('NotoSans-Bold.woff') format('woff'),
        url('NotoSans-Bold.ttf') format('truetype'),
        url('NotoSans-Bold.svg#NotoSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ABeeZee';
    src: url('ABeeZee-Regular.eot');
    src: url('ABeeZee-Regular.eot?#iefix') format('embedded-opentype'),
        url('ABeeZee-Regular.woff2') format('woff2'),
        url('ABeeZee-Regular.woff') format('woff'),
        url('ABeeZee-Regular.ttf') format('truetype'),
        url('ABeeZee-Regular.svg#ABeeZee-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Bold.eot');
    src: url('Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('Lato-Bold.woff2') format('woff2'),
        url('Lato-Bold.woff') format('woff'),
        url('Lato-Bold.ttf') format('truetype'),
        url('Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.eot');
    src: url('Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Light.woff2') format('woff2'),
        url('Roboto-Light.woff') format('woff'),
        url('Roboto-Light.ttf') format('truetype'),
        url('Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Medium.eot');
    src: url('Rubik-Medium.eot?#iefix') format('embedded-opentype'),
        url('Rubik-Medium.woff2') format('woff2'),
        url('Rubik-Medium.woff') format('woff'),
        url('Rubik-Medium.ttf') format('truetype'),
        url('Rubik-Medium.svg#Rubik-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.eot');
    src: url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Bold.woff2') format('woff2'),
        url('Roboto-Bold.woff') format('woff'),
        url('Roboto-Bold.ttf') format('truetype'),
        url('Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Bold.eot');
    src: url('Rubik-Bold.eot?#iefix') format('embedded-opentype'),
        url('Rubik-Bold.woff2') format('woff2'),
        url('Rubik-Bold.woff') format('woff'),
        url('Rubik-Bold.ttf') format('truetype'),
        url('Rubik-Bold.svg#Rubik-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ABeeZee';
    src: url('ABeeZee-Italic.eot');
    src: url('ABeeZee-Italic.eot?#iefix') format('embedded-opentype'),
        url('ABeeZee-Italic.woff2') format('woff2'),
        url('ABeeZee-Italic.woff') format('woff'),
        url('ABeeZee-Italic.ttf') format('truetype'),
        url('ABeeZee-Italic.svg#ABeeZee-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('NotoSans.eot');
    src: url('NotoSans.eot?#iefix') format('embedded-opentype'),
        url('NotoSans.woff2') format('woff2'),
        url('NotoSans.woff') format('woff'),
        url('NotoSans.ttf') format('truetype'),
        url('NotoSans.svg#NotoSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Regular.eot');
    src: url('Rubik-Regular.eot?#iefix') format('embedded-opentype'),
        url('Rubik-Regular.woff2') format('woff2'),
        url('Rubik-Regular.woff') format('woff'),
        url('Rubik-Regular.ttf') format('truetype'),
        url('Rubik-Regular.svg#Rubik-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Black.eot');
    src: url('Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('Lato-Black.woff2') format('woff2'),
        url('Lato-Black.woff') format('woff'),
        url('Lato-Black.ttf') format('truetype'),
        url('Lato-Black.svg#Lato-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.eot');
    src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff'),
        url('Roboto-Regular.ttf') format('truetype'),
        url('Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.eot');
    src: url('Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('Lato-Regular.woff2') format('woff2'),
        url('Lato-Regular.woff') format('woff'),
        url('Lato-Regular.ttf') format('truetype'),
        url('Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('Lato-Hairline.eot');
    src: url('Lato-Hairline.eot?#iefix') format('embedded-opentype'),
        url('Lato-Hairline.woff2') format('woff2'),
        url('Lato-Hairline.woff') format('woff'),
        url('Lato-Hairline.ttf') format('truetype'),
        url('Lato-Hairline.svg#Lato-Hairline') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Light.eot');
    src: url('Rubik-Light.eot?#iefix') format('embedded-opentype'),
        url('Rubik-Light.woff2') format('woff2'),
        url('Rubik-Light.woff') format('woff'),
        url('Rubik-Light.ttf') format('truetype'),
        url('Rubik-Light.svg#Rubik-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}